body {
    font-family: 'Muli', cursive;
    font-size: 13pt;
    background-color: #efefef;
    padding: 100px;
    margin: 0;
}

.comment{
    background-color: #ffffff;
    
    margin-bottom: 10px;
    border-radius: 10px;
}
