<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign Up</title>
    <head>
    <body>
    <h1>Sign Up</h1>
   <form class="site-form" action="{% url 'accounts:signup' %}" method="POST">
       {% csrf_token %}
       {{ form  }}
       <input type="submit" value="Sign Up">
   </form>

    <body>
</html>
