{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Comment Section</title>
        <link href="{% static 'msg/msg_style.css' %}" rel="stylesheet">
    </head>
    <body>
        <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
        <h1 align="center">COMMENT SECTION</h1>
        <p align="center">
            <img alt="Cool shit" class="img-circle" src="{% static 'msg/images/walrus Sharinggan .jpg' %}" style="height:50%;width:50%;margin-top:10px">
        </p>
        <form action="{% url 'msg:message_create' %}" method="POST">
            {% csrf_token %}
            <div>
                {% for field in form.visible_fields %}
                    {{ field }}
                {% endfor %}
            </div>
            <button type="submit">Add!</button>
        </form>

        {% for message in msgs %}
            <h6>{{ message.author.username }}</h6>
            <p>{{ message.message }}</p>
            <p>{{ message.created_at }}</p>
            <form method="POST" action="{% url 'msg:comment_create' message_id=message.id %}">
                {% csrf_token %}
                <div>
                    {% for field in comment_form.visible_fields %}
                        {{ field }}
                    {% endfor %}
                </div>
                <button type="submit">Add!</button>
            </form>
            {% for comment in message.comments.all %}
                <div>
                    <span class="comment">{{ comment.comment }}</span> by {{ comment.author.username }}
                </div>
            {% endfor %}
        {% endfor %}

    </body>
</html>
